@import '../node_modules/tachyons/css/tachyons.min.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

div#root {
  height: inherit;
}

.background-gradient_blue {
  background: linear-gradient(135deg, #4e57ca 32%,#0f68ad
   89%);
}

.lesson-plan-listing-item {
  min-height: 100px;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  border-bottom: 2px solid rgba(94, 55, 195, 1);
}

.lesson-plan-listing-item h2 {
  color: rgba(94, 55, 195, 1);
}

.lesson-plan-listing-item:hover {
  background-color: rgba(94, 55, 195, 0.3);
}
