@import '../node_modules/tachyons/css/tachyons.min.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

div#root {
  height: inherit;
}

.background-gradient_blue {
  background: linear-gradient(135deg, #4e57ca 32%,#0f68ad
   89%);
}

.lesson-plan-listing-item {
  min-height: 100px;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  border-bottom: 2px solid rgba(94, 55, 195, 1);
}

.lesson-plan-listing-item h2 {
  color: rgba(94, 55, 195, 1);
}

.lesson-plan-listing-item:hover {
  background-color: rgba(94, 55, 195, 0.3);
}

/* module chips section in the add classroom form dialog */
.modules-select-menu > div {
  display: flex;
  flex-wrap: wrap;
}

.modules-select-menu .chip {
  margin: 0 8px 8px 0;
}

/* add classroom dialog text */
.add-classroom-dialog .add-classroom-text {
  color: black;
  margin-bottom: 15px;
}

.add-classroom-dialog .classroom-date {
  font-weight: bold;
}
